extends layout

block content

  h1 Take a tour of our favorite spots on campus.
  .topnav
    button#campusButton Campus
    button#domeButton Dome
    button#grottoButton Grotto
    button#hesburghButton Hesburgh
    button#stadiumButton Stadium 
    button#overviewButton Overview
    button#quizButton Quiz
    script(src='javascripts/client.js')
  .main
    h1 Overview
    button#likeButton Like!
    p #{about}
    img(src='images/dome.jpg', alt='Image', width='400', height='400')
    img(src='images/grotto.jpg', alt='Image', width='400', height='400')
    img(src='images/Hesburgh.jpg', alt='Image', width='400', height='400')
    img(src='images/stadium.jpg', alt='Image', width='400', height='400')
