extends layout

block content

  h1 Take a tour of our favorite spots on campus.
  .topnav
    button#campusButton Campus
    button#domeButton Dome
    button#grottoButton Grotto
    button#hesburghButton Hesburgh
    button#stadiumButton Stadium
    button#overviewButton Zoom
    button#quizButton Quiz
  .main
    h1 Take a Notre Dame Quiz!
    p When finished click submit to see how you did!
    button(value="submit")#submitButton Submit!
    script(src='javascripts/client.js&callback=buildQuiz')
  .quiz
    #quiz
  .results

