extends layout

block content

  h1 Take a tour of our favorite spots on campus.
  .topnav
    button#campusButton Campus
    button#domeButton Dome
    button#grottoButton Grotto
    button#hesburghButton Hesburgh
    button#stadiumButton Stadium 
    button#overviewButton Zoom
    button#quizButton Quiz
    script(src='javascripts/client.js')
  .main
    

    script(src='javascripts/client.js')
    script(async='', defer='', src='https://quizs.googleapis.com/quizs/api/js?key=AIzaSyAsUd8gZ2A5gLVVAeKRkWtniR3NL6eseL4&callback=initMap', <='', script='')
  .quiz
    #quiz
