extends layout

block content

  h1 Take a tour of our favorite spots on campus.
  .topnav
    button#campusButton Campus
    button#domeButton Dome
    button#grottoButton Grotto
    button#hesburghButton Hesburgh
    button#stadiumButton Stadium
    button#overviewButton Overview
    button#quizButton Quiz
  .main
    h1 Take a Notre Dame Quiz!
    button(value="quiz")#likeButton Like!
    p#likeCount Number of likes: #{likeCount}
    p When finished click submit to see how you did!
    button#startButton Start
    p#quiz QUIZ SECTION
    //form("quiz", method="form")
    //each item in questions
    //p #{item.question}
    //each answer in item.answers
    //<p><input type="radio" name=item.id/>#{answer}</p>
    button(type='submit' onclick='showResults()') Submit
    p#results RESULT SECTION
  script(src='javascripts/client.js')
   


     

