extends layout

block content

  h1 Take a tour of our favorite spots on campus.
  .topnav
    button#campusButton Campus
    button#domeButton Dome
    button#grottoButton Grotto
    button#hesburghButton Hesburgh
    button#stadiumButton Stadium
    button#overviewButton Overview
    button#quizButton Quiz
  .main
    h1 Take a Notre Dame Quiz!
	button(value="quiz")#likeButton Like!
    p When finished click submit to see how you did!
    button#startButton Start
    button#submitButton Submit
    ul
     each item in questions
       each question in item
         li=question

  script(src='javascripts/client.js')


     

